select {
    text-align: center;
    text-transform: uppercase;
    height: 39px ;
    width: 100px;
    letter-spacing: 2px;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../images/down-arrow.png')  no-repeat;
    background-size: 7%;
    background-position-x: 95%;
    background-position-y: 50%;
    border-radius: 0;   
}

.chooseDevice {
    text-align: center;
    position: relative;
    select {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        width: 250px;
        background-size: 10%;
        text-align: center;
        margin: 0 auto;
        padding: 10px 30px;
        @media (max-width: 690px){
            position: relative;
        }
    }
}

.inputs-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    .colour-form-container,
    .font-family-container,
    .user-text-container,
    .background-input {
        // margin-top: 15px;
        width: 22%;
        min-width: 200px;
        text-align: center;
        select,
        input,
        button {
            width: 100%;
            font-family: $mainType;
            padding: 10px 30px;
            @include fontSize(14);
            margin: 6px 0;
            font-size: 1.3rem;
        }
        input, 
        button {
            border: 1px solid black;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: all ease 0.3s;
            text-align: center;
            background: transparent;
            &:hover {
                background:$yellow;
                border: 1px solid white;
            } 
            &.colour-btn {
                padding: 0;
                height: 40px;
            }              

        }
        button, 
        input[type=submit] {
            background:$yellow;
            border: 1px solid white;
            &:hover {
                background: transparent;
                border: 1px solid black;
                color: white;
            }
        }
        h3 {
            text-transform: uppercase;
        }
    }
}