select {
    text-align: center;
    text-transform: uppercase;
    height: 39px ;
    width: 100px;
    letter-spacing: 2px;
    border: 1px solid $deep-forest-green;
    color: $deep-forest-green;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('') no-repeat;
    background-size: 7%;
    background-position-x: 95%;
    background-position-y: 50%;
    border-radius: 0; 
    option {
        text-transform: uppercase;
        margin: 20px;
        border-radius: 0;
        
    }  
}

.chooseDevice {
    text-align: center;
    position: relative;
    top: 15px;
    select {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        width: 250px;
        background-size: 10%;
        text-align: center;
        margin: 0 auto;
        padding: 10px 30px;
        @media (max-width: 690px){
            position: relative;
        }
    }
}

.inputs-container {
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    .colour-form-container,
    .font-family-container,
    .user-text-container,
    .background-input {
        width: 22%;
        min-width: 200px;
        text-align: center;
        @media (max-width: 400px) {

                width: 100%;
        }
        select,
        input,
        button {
            width: 100%;
            font-family: $mainType;
            padding: 10px 30px;
            @include fontSize(14);
            margin: 6px 0;
            font-size: 1.3rem;
        }
        input, 
        button {
            border: 1px solid white;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: all ease 0.3s;
            text-align: center;
            background: #cdcdcd;
            &:hover {
                background:$yellow;
                border: 1px solid white;
                color: white;
            }

            &.colour-btn {
                padding: 0;
                height: 40px;
            }   
            &.headerInput {
                height: 39px;
            }           

        }
        button, 
        input[type=submit] {
                border: 1px solid white;
            &:hover {
                background: $yellow;
                border: 1px solid white;
                color: white;
            }
        }

        & .headerInput {
            background: $yellow;
            color: white;
            text-transform: none;
            text-align: left;
            font-family: courier;
            letter-spacing: 1px;
            &:hover {
                background: white;
                border: 1px solid black;
                color: black;
            }
        }
        p {
            @include fontSize(14);
        }
    }
}