.chosenDevice {
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-image: url('');
    background-position: center center;
    width: 100%;

    & .backgroundContainer {
        background-image: url('../images/flamingo.jpg');
        margin: 0 auto;
        width: 60%;
        text-align: center;
        z-index: -1;
        background-size: cover;
        background-position: center center;
        height: 520px;
        position: absolute;
        top: 10%;
        left: 20%;
        @include fontSize(21);
        font-family: 'Bowlby One', cursive;
        color: white;
        
        & .userHeader {
            text-shadow: 0 0 10em #666, 0 0 0.5em #666;
            padding-top: 25%;

            @media (max-width: 1000px) {
                padding-top: 25%;
            }
            @media (max-width: 900px) {
                @include fontSize(35);
            }
            @media (max-width: 750px) {
                font-size: 5vw;
            }
        }
        @media (max-width: 1190px) {
            width: 70%;
            left: 15%;
        }

        @media (max-width: 1000px) {
            width: 100%;
            left: 0;
            top: 5%;
        }

        @media (max-width: 850px) {
            top: 0;

        }

        @media (max-width: 750px) {
            height: 90%;
        
        }
    }
}

.copyHero {
    text-align: center;
    .makeHero {
        text-align: center;
        font-family: $mainType;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 2px;
        margin-bottom: 0;
        @include fontSize(14);
    }
    img.arrow-down {
        width: 20px;
    }
    .divider {
        width: 100%;
        border-bottom: 1px solid white;
    }
}
.finalChoices {
    ul {
        width: 50%;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        margin-bottom: 30px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        @include fontSize(16);
        font-weight: lighter;

        & .finalFont {
            margin-top: 30px;
        }

        li {
            line-height: 1.6;
            text-align: center;
        }
        a {
            color: white;
        }
    }
}