article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  line-height: 1.6;
  color: white; }

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100vh; }
  @media (max-width: 750px) {
    .headerFlex {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .headerFlex .projectIntro {
    margin-bottom: 20px;
    width: 60%; }
    @media (max-width: 750px) {
      .headerFlex .projectIntro {
        width: 80%; } }
    .headerFlex .projectIntro .getStarted {
      margin-top: 20px; }
  .headerFlex .heroText {
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 15vh;
    z-index: 1;
    text-align: center;
    padding-left: 5px;
    bottom: 10vh; }
    @media (max-width: 650px) {
      .headerFlex .heroText {
        top: 8vh; } }
    @media (max-width: 350px) {
      .headerFlex .heroText {
        top: 5vh; } }
    .headerFlex .heroText h1 {
      font-size: 8vw;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      font-family: 'Bowlby One', cursive; }
      @media (max-width: 1190) {
        .headerFlex .heroText h1 {
          font-size: 20vw; } }
      @media (max-width: 650px) {
        .headerFlex .heroText h1 {
          font-size: 70px;
          font-size: 7rem;
          line-height: 1.1; } }
      @media (max-width: 350px) {
        .headerFlex .heroText h1 {
          font-size: 50px;
          font-size: 5rem; } }

.headerImage {
  position: relative;
  text-align: center; }
  .headerImage img {
    position: relative;
    z-index: -1; }

.projectIntro {
  position: relative;
  z-index: 1;
  width: 65%;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem; }
  .projectIntro .siteLink {
    text-decoration: underline;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .projectIntro .siteLink:hover {
      color: #e9e45f; }
  .projectIntro a {
    color: white; }
  .projectIntro .getStarted {
    margin: 0 auto;
    text-align: center; }
    .projectIntro .getStarted a {
      border: 1px solid black;
      padding: 10px 30px;
      font-size: 14px;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Arimo', sans-serif;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      .projectIntro .getStarted a:hover {
        background: #e9e45f;
        border: 1px solid white; }

/* ----------------------------------------------
 * Generated by Animista on 2018-5-10 15:1:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-shadow-pop-br
 * ----------------------------------------
 */
.text-shadow-pop-br {
  -webkit-animation: text-shadow-pop-br 0.6s both;
  animation: text-shadow-pop-br 0.6s both; }

@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    text-shadow: 1px 1px #e9e45f, 2px 2px #e9e45f, 3px 3px #e9e45f, 4px 4px #e9e45f, 5px 5px #e9e45f, 6px 6px #e9e45f, 7px 7px #e9e45f, 8px 8px #e9e45f;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px); } }

@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f, 0 0 #e9e45f;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    text-shadow: 1px 1px #e9e45f, 2px 2px #e9e45f, 3px 3px #e9e45f, 4px 4px #e9e45f, 5px 5px #e9e45f, 6px 6px #e9e45f, 7px 7px #e9e45f, 8px 8px #e9e45f;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px); } }

.chosenDevice {
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-image: url("");
  background-position: center center;
  width: 100%; }
  .chosenDevice .backgroundContainer {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    line-height: 520px;
    background-size: cover;
    background-position: center center;
    height: 520px;
    position: absolute;
    border: 1px solid red;
    top: 10%;
    left: 12%; }
    @media (max-width: 1050px) {
      .chosenDevice .backgroundContainer {
        height: 420px;
        line-height: 420px; } }
    @media (max-width: 890px) {
      .chosenDevice .backgroundContainer {
        height: 350px;
        line-height: 350px; } }
    @media (max-width: 680px) {
      .chosenDevice .backgroundContainer {
        height: 280px;
        line-height: 280px; } }
    @media (max-width: 550px) {
      .chosenDevice .backgroundContainer {
        height: 250px;
        top: 0;
        line-height: 250px; } }
    @media (max-width: 430px) {
      .chosenDevice .backgroundContainer {
        left: 0;
        line-height: 200px;
        height: 80%;
        width: 100%; } }

/* background-image: url(../images/leaf.jpeg); */
select {
  text-align: center;
  text-transform: uppercase;
  height: 39px;
  width: 100px;
  border: 1px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../images/down-arrow.png") no-repeat;
  background-position: right; }

.chooseDevice {
  text-align: center; }
  .chooseDevice select {
    margin: 15px 0; }

.inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .inputs-container .colour-form-container,
  .inputs-container .font-family-container,
  .inputs-container .user-text-container,
  .inputs-container .background-input {
    margin-top: 15px;
    width: 22%;
    min-width: 200px;
    text-align: center; }
    .inputs-container .colour-form-container select,
    .inputs-container .colour-form-container input,
    .inputs-container .colour-form-container button,
    .inputs-container .font-family-container select,
    .inputs-container .font-family-container input,
    .inputs-container .font-family-container button,
    .inputs-container .user-text-container select,
    .inputs-container .user-text-container input,
    .inputs-container .user-text-container button,
    .inputs-container .background-input select,
    .inputs-container .background-input input,
    .inputs-container .background-input button {
      width: 100%;
      font-family: "Arimo", sans-serif;
      padding: 10px 30px;
      font-size: 14px;
      font-size: 1.4rem;
      margin: 10px 0; }
    .inputs-container .colour-form-container input,
    .inputs-container .colour-form-container button,
    .inputs-container .font-family-container input,
    .inputs-container .font-family-container button,
    .inputs-container .user-text-container input,
    .inputs-container .user-text-container button,
    .inputs-container .background-input input,
    .inputs-container .background-input button {
      border: 1px solid black;
      text-transform: uppercase;
      letter-spacing: 2px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      text-align: center; }
      .inputs-container .colour-form-container input:hover,
      .inputs-container .colour-form-container button:hover,
      .inputs-container .font-family-container input:hover,
      .inputs-container .font-family-container button:hover,
      .inputs-container .user-text-container input:hover,
      .inputs-container .user-text-container button:hover,
      .inputs-container .background-input input:hover,
      .inputs-container .background-input button:hover {
        background: #e9e45f;
        border: 1px solid white; }
      .inputs-container .colour-form-container input.colour-btn,
      .inputs-container .colour-form-container button.colour-btn,
      .inputs-container .font-family-container input.colour-btn,
      .inputs-container .font-family-container button.colour-btn,
      .inputs-container .user-text-container input.colour-btn,
      .inputs-container .user-text-container button.colour-btn,
      .inputs-container .background-input input.colour-btn,
      .inputs-container .background-input button.colour-btn {
        padding: 0;
        height: 40px; }
    .inputs-container .colour-form-container h3,
    .inputs-container .font-family-container h3,
    .inputs-container .user-text-container h3,
    .inputs-container .background-input h3 {
      text-transform: uppercase; }

body {
  background: #cdcdcd; }
  body .wrapper {
    max-width: 80%;
    margin: 0 auto; }
  body img {
    max-width: 100%; }

main {
  padding-top: 100px; }
