@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'results';
@import 'inputs';
@import 'footer';

//GLOBAL STYLES
html {
    font-size: 62.5%;
}

body {
    background: $bodyBG;
    .wrapper {
        max-width: 80%;  
        margin: 0 auto;  
    }
    img {
    max-width: 100%;
}
}
