@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'results';
@import 'inputs';
@import 'footer';

//GLOBAL STYLES

body {
    background: $bodyBG;
    .wrapper {
        max-width: 1920px;  
        margin: 0 auto;  
    }
    img {
    max-width: 100%;
}
}
